body {
  background: #EFEFBB;
  background: linear-gradient(to right, rgb(197, 230, 236), rgb(239, 187, 230));
  color: white;
  margin: 0;
  font-family: rubik;
}

.container {
  padding: 40px;
  margin: 0 auto;
}

.pokedex {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 20px;
  padding-inline-start: 0;
}

h1 {
  text-align: center;
  font-size: 54px;
}

@media only screen and (max-width: 740px) {
  .pokedex {
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  }

  .container {
    padding: 20px;
  }
}

@media only screen and (max-width: 420px) {
  .pokedex {
    grid-template-columns: 1fr
  }
}

@media only screen and (max-width: 280px) {
  .container {
    padding: 15px;
  }

  h1 {
    text-align: center;
    font-size: 34px;
  }
}